* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

/* 
  Accent color
    color: #00ffff;
  
  Answer button color
    color: #d20094;
    color: #900080;

  Titles font
    font-family: "Outfit", sans-serif;
    font-size: 60px;

  Descriptions font
    font-family: "Inter", sans-serif;
    font-size: 16px;
*/

body {
  background-image: url('/assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 1250px;
  margin: 30px auto;
  /* border: 2px solid red; */
}

.centred {
  text-align: center;
}

.highlighted {
  color: #900080;
}

#logo {
  width: 15%;
  display: block;
}

#btnProceed,
#btnMoreInfo {
  border: none;
  background-color: #00ffff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 40px;

  /* TODO aggiustare ombra */
  box-shadow: 0 0 7px 10px #9cffff, 0 0 7px 10px #9cffff, 0 0 7px 10px #9cffff,
    0 0 7px 10px #9cffff;
  color: #000000;
}

h1 {
  font-size: 60px;
}

/*-- WELCOME PAGE ---------------------------------------------------*/

/*-- QUESTIONS PAGE -------------------------------------------------*/
#questions header {
  display: flex;
  justify-content: space-between;
}

/*-- RESULTS PAGE ---------------------------------------------------*/

/*-- FEEDBACK PAGE --------------------------------------------------*/
header {
  margin-bottom: 60px;
}

#feedback form {
  margin-top: 20px;
}

h2.feedbackSubtitle {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 25px;
}

.hidden {
  display: none;
}

#ratingStars {
  margin-bottom: 60px;
}

#feedbackText {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d20094;
  padding: 10px 30px;
  width: 60%;
  font-size: 1em;
}

#textContainer {
  margin-bottom: 70px;
}
